@import '../../../../public/assets/styles/variables.scss';

.scoreboard-entry {
    color: $secondary-light;
    font-family: $secondary-font;
    text-shadow: 2px 2px 2px $primary-dark;
    font-size: 2rem;
    width: 100%;


    & span {
        display: inline-block;
        width: 50%;
    }
    
    & .name {
        font-weight: bold;
        font-size: larger;
        padding-right: .5rem;
        text-align: right;
    }

    & .score {
        padding-left: .5rem;
        text-align: left;
    }

    @media screen and (max-width: $medium-breakpoint) {
        font-size: 1.5rem;

        & .name {
            margin: 0;
        }
    
        & .score {
            margin: 0;
        }
    }

    @media screen and (max-width: $small-breakpoint) {
        font-size: 1.25rem;
    }

    @media screen and (min-width: $extra-large-breakpoint) {
        font-size: 6rem;
    }
}