@import '../../../public/assets/styles/variables.scss';

.difficulty-select-screen-wrapper {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid $primary-color;
    border-radius: .5rem;
    background-color: $secondary-color;
    width: auto;
}