@import '../../../public/assets/styles/variables.scss';
@import '../../../public/assets/styles/animations.scss';

.card {
    width: 80%;
    height: 80%;
    padding: .05rem;
    background-color: $secondary-color;

    & .svg-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        border-radius: .5rem;
        width: 100%;
        height: 100%;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;

        & svg {
            width: 100px;
            height: 100px;
            color: $primary-color;
        }
    }

    &.matched {
        background-color: red;
    }

    &.selected {
        & .svg-wrapper {
            animation: flipIn 1s ease-in;
            animation-fill-mode: forwards;
        }
    }

    &.to-hide {
        & .svg-wrapper {
            transform: none;
            opacity: 1;
            animation: flipOut .5s ease-in-out;
            animation-fill-mode: forwards;
        }
    }
}