@import '../../../public/assets/styles/variables.scss';

.card {
    width: 100%;
    height: 100%;

    & .svg-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-radius: .25rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background-color: $secondary-color;

        & svg {
            width: 100px;
            height: 100px;
            color: $primary-color;
        }
    }

    &.invisible {
        opacity: 0;
    }

    &.visible {
        animation: flipIn 1s;
        animation-fill-mode: forwards;
    }
}