@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower&display=swap');

$primary-color: #343434;
$primary-dark: #000000;
$secondary-color: #c0c0c0;
$secondary-light: #ffffff;
$gradient-primary: #8A2387;
$gradient-secondary: #E94057;
$gradient-tertiary: #F27121;
$gradient-full: linear-gradient(to left, $gradient-tertiary, $gradient-secondary, $gradient-primary);

$primary-font: 'Indie Flower', cursive;
$secondary-font: 'Amatic SC', cursive;

$small-breakpoint: 360px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$extra-large-breakpoint: 1440px;